.course {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 2em;
    border-radius: 1em;

    background-color: #7289da;
    color: #2c2f33;

    h1 {
        margin: 0px;
    }

    h2 {
        margin: 0px;
        font-size: 2rem;
        font-weight: 900;
    }

    p {
        margin: 0px;
        margin-bottom: 0.5rem;
    }

    a {
        button {
            height: 2em;
            border: none;
            border-radius: 1em;

            font-weight: 900;

            background-color: #2c2f33;
            color: #ffffff;

            transition: all 0.5s;
        }
        button:hover {
            background-color: #99aab5;
            color: #2c2f33;
            transition: all 0.5s;
        }
    }

    .right {
        padding: 0em;
        font-size: 1.5rem;
    }
}

@media (max-width: 700px) {
    .course {
        margin: 0.5em;
        h2 {
            font-size: 1.5em;
        }
    }
}
