.all--courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

@media (max-width: 900px) {
    .all--courses {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .all--courses {
        grid-template-columns: 1fr;
        grid-gap: 0em;
    }
}
